* {
  margin: 0;
  padding: 0;
}
main {
  position: absolute;
  left: 20rem;
  padding-right: 5rem;
  margin-top: 0rem;
}
main header {
  font-weight: bold;
  font-size: 30px;
  margin: 1rem;
}
main p {
  margin-left: 2rem;
  margin-bottom: 1rem;
  line-height: 2rem;
}
main ul li {
  margin-bottom: 1rem;
  margin-left: 4.5rem;
}
main code {
  display: block;
  margin-bottom: 1rem;
  margin-left: 3rem;
  background-color: #f2eeed;
  padding: 1rem;
}
#navbar {
  position: fixed;
  min-width: 290px;
  height: 100vh;
  border-right: 2px solid gray;
}
nav header {
  margin: 2rem;
  font-weight: bold;
  font-size: 22px;
}

nav ul a {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  margin-left: 2rem;
}
nav ul li {
  list-style: none;
}
